.ContactSection {
  width: 30%;
  color: white;
  text-align: center;
  font-size: large;
}
.ContactSection div {
  padding-top: 1rem;
}
.LogoSection {
  margin: 1rem;
}
.Icon {
  font-size: 2rem;
  margin: 0.5rem;
}
