.ContactPage {
  padding: 2rem;
}

.OpeningContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.OpeningTimesTable {
  width: 45%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  table-layout: fixed;
  color: white;
}

.OpeningTimesTable td {
  width: 50%;
}

.OpeningTimesTable tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.OpeningTimesTable td:first-child {
  font-weight: bold;
}

.OurLocation {
  width: 100%;
  padding-left: 2rem;
  color: white;
}

.OurLocation h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.BackgroundImageContainer {
  animation: backgroundChange 20s infinite;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
@keyframes backgroundChange {
  0% {
    background-image: url('/DimSumF2.jpeg');
  }
  25% {
    background-image: url('/DimSumF17.jpeg');
  }
  50% {
    background-image: url('/DimSumF22.jpeg');
  }
  75% {
    background-image: url('/DimSumF15.jpeg');
  }
  100% {
    background-image: url('/DimSumF2.jpeg');
  }
}
@media (max-width: 680px) {
  .OpeningTimesTable,
  .OpeningTimesTable tr,
  .OpeningTimesTable td {
    display: block;
    width: 100%;
  }

  .OpeningTimesTable td {
    text-align: left;
    padding: 8px 0;
  }

  .OpeningTimesTable td:first-child {
    font-weight: bold;
    padding-top: 0.5rem;
  }
}
