.ContactPage {
  padding: 2rem;
}

.OpeningTitle {
  font-size: 1rem;
  text-align: center;
}

.OpeningContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.OpeningTimesTable {
  width: 45%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  table-layout: fixed;
}

.OpeningTimesTable td {
  padding-right: 12px;
  padding-left: 12px;
  height: 1rem;
  width: 50%;
}

.OpeningTimesTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.OpeningTimesTable tr:hover {
  background-color: rgba(205, 55, 45, 0.1);
}

.OpeningTimesTable td:first-child {
  font-weight: bold;
}

.OurLocation {
  width: 100%;
  padding-left: 2rem;
}

.OurLocation h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
