.SectionContainer {
  width: 100%;
  height: 37rem;
  display: flex;
}
.SectionLeft {
  width: 20%;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.SectionRight {
  width: 80%;
  background-color: burlywood;
}
.Kategorie {
  padding: 1rem;
}
.Kategorie :hover {
  text-decoration: underline;
  color: var(--hb-red);
}
.DivisionDivider {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DivisionDivider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.MenuTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: bisque;
  /*   background-image: url('/StockImagePattern.jpg');
  background-size: contain;
  background-position: center; */
}

.MenuTabCategory {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.MenuTabCategory button {
  background-color: black;
  border-radius: 12%;
}

.MenuTab {
  padding: 0.5rem 1rem;
}

.MenuTabActive {
  color: white;
  padding: 0.5rem 1rem;
  background-color: red;
}

.MenuTab:hover {
  cursor: pointer;
}

.MenuTabsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.MenuContent {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1rem;
  /*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.MenuContentActive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.ImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.ImageWrapper:hover {
  transform: scale(1.05);
}
.Image {
  border-radius: 8px;
}
